/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    --blue: #10519E;
    --btn: #1868C5;
    --btn-red: #FF3055;
    --white: #FFFFFF;
    --black: #000000;
    --dark-blue: #003C82;
    --green: #00FFA3;
    --transition: 0.3s;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--blue);
    background-color: var(--white);
}

.container {
    max-width: 920px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/* btn */
button,
.btn {
    background: var(--btn);
    border: 1px solid var(--btn);
    padding: 15px 20px;
    height: 52px;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    cursor: pointer;
}

button:hover,
.btn:hover {
    background: none;
    color: var(--blue)
}

.btn_small {
    padding: 5px 30px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    height: 37px;
}

.btn_red {
    background: var(--btn-red);
    border: 1px solid var(--btn-red);
}
.btn_red:hover {
    color: var(--btn-red);
}
.btn_white {
    background: var(--white);
    border: 1px solid var(--white);
    height: 39px;
    padding: 10px 15px;
    color: var(--dark-blue);
    font-size: 13px;
    line-height: 16px;
}
.btn_white:hover {
    color: var(--white);
}
.btn_green {
    background: var(--green);
    border-color: var(--green);
    text-decoration: underline;
}
.btn_green:hover {
    border-color: transparent;
    background:  none;
    color: var(--dark-blue);
    text-decoration: underline;
}

/* input */

/* remove search input close icon */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* remove arrows from input type number for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
/* remove arrows from input type number for Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

input {
    font-size: 12px;
    line-height: 15px;
    color: var(--black);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    height: 37px;
    min-width: 105px;
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
    background: var(--white);
}

input::-webkit-input-placeholder {
    color: rgba(0, 60, 130, 0.58);

}

input::-moz-placeholder {
    color: rgba(0, 60, 130, 0.58);

}

input:-ms-input-placeholder {
    color: rgba(0, 60, 130, 0.58);

}

input::-ms-input-placeholder {
    color: rgba(0, 60, 130, 0.58);

}

input::placeholder {
    color: rgba(0, 60, 130, 0.58);

}
.search__submit {
    height: 100%;
    background: -o-linear-gradient(4.92deg, #0087FF 9.06%, #51ADFF 97.26%);
    background: linear-gradient(85.08deg, #0087FF 9.06%, #51ADFF 97.26%);
    border: none;
    border-radius: 7px;
    color: var(--white);
    padding: 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.search__submit:hover {
    background: -o-linear-gradient(4.92deg, #0087FF 9.06%, #51ADFF 97.26%);
    background: linear-gradient(85.08deg, #0087FF 9.06%, #51ADFF 97.26%);
    color: var(--white);
}
input[type="checkbox"],
.hidden-checkbox {
    position: absolute;
    width: 0;
    height: 1px;
    margin: 0;
    padding: 0;
    left: -1px;
    overflow: hidden;
    visibility: hidden;
}
.label {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-blue);
}
.label_bordered {
    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    padding: 15px;
    padding-right: 30px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.label a {
    font-weight: 600;
}
.label__text {
    padding-left: 35px;
}
.label__text::before {
    content: "";
    width: 21px;
    height: 21px;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background-color: transparent;
    background-position: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: -35px;
}

.hidden-checkbox:checked + .label .label__text::before {
    background: var(--green) url(../icons/check.svg) center/15px no-repeat;
    border-color: var(--green);
}
.label_bordered:hover {
    background-color: #51ADFF;
    border-color: #51ADFF;
    color: var(--white);
}
.label_bordered:hover a {
    color: var(--white)
}
.label_bordered:hover .label__text::before {
    background-color: var(--white);
    border-color: var(--white);
}
.hidden-checkbox:checked:hover + .label .label__text::before {
    background-color: var(--btn);
    border-color: var(--btn);
}

/* heading */
h1 {
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
    margin-bottom: 20px;
}
h2 {
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 35px;
}
h3 {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 20px;
    line-height: 23px;
}
a {
    color: var(--blue);
    color: inherit;
}
a:hover {
    text-decoration: none;
}

/* other */
p {
    margin: 15px 0;
}
img {
    max-width: 100%;
}
a {
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
ul li, ol li {
    list-style: none;
}
hr {
    display: block;
    width: auto;
    background: none;
    border: none;
    border-bottom: 1px dashed #003C82;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 3;
    transition: var(--transition);
}
.header__blue {
    background: -o-linear-gradient(0.01deg, #10529E 0%, #1866C2 99.99%);
    background: linear-gradient(89.99deg, #10529E 0%, #1866C2 99.99%);
}
.nav,
.nav__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo {
    display: block;
    width: 215px;
}
.burger {
    padding: 7px;
    width: 40px;
    display: block;
    border-radius: 7px;
    display: none;
}
.burger span {
    display: block;
    width: 100%;
    height: 4px;
    background: var(--dark-blue);
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-shadow: 0 8px 0 0 var(--dark-blue), 0 16px 0 0 var(--dark-blue);
            box-shadow: 0 8px 0 0 var(--dark-blue), 0 16px 0 0 var(--dark-blue);
    margin-top: 2px;
}
.burger:hover {
    background: var(--white);
    opacity: 0.5;
}
.ts {
    color: var(--white);
    font-size: 12px;
    line-height: 12px;
    margin-right: 20px;
}
.ts a {
    color: inherit;
    text-decoration: none;
}
.ts a:hover {
    opacity: 0.7;
}
.pc svg {
    width: 19px;
    margin-right: 10px;
}
.pc path {
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.pc {
    text-decoration: none;
}
.pc:hover path {
    fill: var(--white);
}
/* first page */
.blue-bg {
    background: -o-linear-gradient(348.38deg, #10519E 13.41%, #1868C5 93.97%);
    background: linear-gradient(101.62deg, #10519E 13.41%, #1868C5 93.97%);
}
.content-wr {
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 85px 0;
}
.search {
    color: var(--white);
    text-align: center;
}
.main-title {
    margin-bottom: 0;
}
.title-decr {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
} 
.search__form {
    max-width: 520px;
}
.input-wr {
    height: 52px;
}
.search__input {
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 22px;
    padding-right: 130px;
    border: none;
}
.search__input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.37);
}
.search__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.37);
}
.search__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.37);
}
.search__input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.37);
}
.search__input::placeholder {
    color: rgba(0, 0, 0, 0.37);
}
.search__submit {
    position: absolute;
    right: 0;
    top: 0;
}
.search__submit::before {
    content: url(../icons/loupe.svg);
    margin-right: 8px;
}
.search__example {
    font-size: 15px;
line-height: 18px;
}
.info {
    font-size: 11px;
line-height: 13px;
text-align: center;
background: #2B7EDE;
border-radius: 7px;
border-left: 6px solid var(--dark-blue);
padding: 10px;
}
.search__info {
    width: 100%;
} 
.search__results {
    max-width: 580px;
    margin-top: 55px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 17px;
    line-height: 21px;
    color: var(--white);
}
.search__results a {
    display: block;
    padding: 5px 0;
    border-bottom: 3px solid var(--white);;
    text-decoration: none;
    margin-bottom: 10px;

}
.loading {
    max-width: 520px;
}
.loading__box {
    width: 100%;
    border-radius: 19px;
    height: 27px;
    background: var(--white);
}
.loading__box-inner {
    height: 100%;
    background: #093F7E;
    border-radius: 19px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-transition: width;
    -o-transition: width;
    transition: width;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(.36,.55,.63,.48);
         -o-transition-timing-function: cubic-bezier(.36,.55,.63,.48);
            transition-timing-function: cubic-bezier(.36,.55,.63,.48);
}
.loading__percent {
    font-size: 33px;
line-height: 40px;
margin: 5px 0;
}
.loading__text {
    font-size: 20px;
    line-height: 24px;
}

/* single */
.single {
    min-height: 100vh;
    padding: 150px 0 45px;
    overflow: hidden;
}
.single__title {
    margin-bottom: 35px;
}
.object__info {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.object__info_left {
    margin-right: 20px;
    max-width: 455px;
}
.object__info-list li {
    margin-bottom: 15px;
    list-style: none;
}

.object__info-list b {
    font-weight: 600;
}

/* order */
.order__step {
    margin-bottom: 30px;
}
.order__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.order__title {
    font-size: 19px;
    line-height: 23px;
    margin: 20px;
    margin-left: 0;
}
.order__step-text {
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
} 
.order__result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
}
.order__result-text {
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    color: var(--dark-blue);
    margin-bottom: 10px;
}
.order__price {
    font-size: 24px;
    line-height: 29px;
    margin-left: 10px;
    text-align: right;
}
.checkbox-wr {
    margin-bottom: 20px;
}
.checkbox-wr_fire::before,
.checkbox-wr_warning:before {
    content: url(../icons/fire.svg);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -35px;
}
.checkbox-wr_warning:before {
    content: url(../icons/warning.svg);
}
.order__input {
    height: 52px;
    min-width: 310px;
    font-size: 18px;
    line-height: 22px;
}
.order__input::-webkit-input-placeholder {
    color:rgba(0, 60, 130, 0.32);
}
.order__input::-moz-placeholder {
    color:rgba(0, 60, 130, 0.32);
}
.order__input:-ms-input-placeholder {
    color:rgba(0, 60, 130, 0.32);
}
.order__input::-ms-input-placeholder {
    color:rgba(0, 60, 130, 0.32);
}
.order__input::placeholder {
    color:rgba(0, 60, 130, 0.32);
}
.input__decr {
    font-size: 13px;
    line-height: 16px;
    display: block;
    margin: 15px 0
}

/* popup */
.popup {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(25, 25, 25, 0.89);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: -10;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    padding: 55px 20px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.popup_opened {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}
.popup__body {
    background: var(--white);
    padding: 50px 40px;
    font-size: 12px;
    line-height: 207.4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 50px;
    cursor: initial;
    max-width: 880px;
}
.popup__left {
    max-width: 575px;
    margin-right: 35px;
}
.popup__title {
    font-size: 25px;
    line-height: 30px;
}
.hr_title {
    width: 100%;
    margin: 10px 0;
}
.need-list {
    margin-top: 30px;
}
.popup__right {
    width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.popup__left p {
    margin: 10px 0
}
.hr_price {
    max-width: 319px;
    width: 100%;
}
.popup__price {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2em;
    margin: 10px 0;
}
.popup__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.popup__footer button {
    margin-right: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.popup__footer a {
-ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.popup__icon {
    display: block;
    margin: 0 auto 15px;
    width: 72px;
}
.why-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
}
.why-list li::before {
    margin-right: 8px;
    display: block;
}
.why-list li:nth-child(1):before {
    content: url(../icons/flash.svg);
}
.why-list li:nth-child(2):before {
    content: url(../icons/security.svg);
}
.why-list li:nth-child(3):before {
    content: url(../icons/back.svg);
}
.why-list li:nth-child(4):before {
    content: url(../icons/file.svg);
}
.why-list li:nth-child(5):before {
    content: url(../icons/percentage.svg);
}

/* payment */
.payment__title {
    font-weight: 700;
font-size: 34px;
line-height: 41px;
}
.payment__form {
    font-size: 22px;
    line-height: 27px;
}
.payment__form p {
    margin-bottom: 30px;
}
.payment__btn {
    font-size: 26px;
    line-height: 32px;
}

/* owners */
.owners__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 25px 0 15px;
}
.owners__form input,
.owners__form .btn_small {
    margin: 0 10px 10px 0;
}
.form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.input_small {
    width: 105px;
}
/* breadcrumbs */
.breadcrumbs {
    margin-bottom: 30px;
    display: inline-block;
}
.breadcrumbs::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 300vw;
    right: 0;
    top: 0;
    background: #51ADFF;
    border-radius: 7px;
     
}
.breadcrumbs::after {
    content: "";
    position: absolute;
    height: 58%;
    width: 0;
    display: inline-block;
    right: -32px;
    top: 3px;
    border: 21px solid transparent;
    border-left: 12px solid #51ADFF;
} 
.breadcrumbs__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
}
.breadcrumbs__list a,
.breadcrumbs__list span {
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}
.breadcrumbs__list li:first-child a, 
.breadcrumbs__list li:first-child span {
    padding-left: 0;
}
.breadcrumbs__list a:hover {
    opacity: 0.5;
}
.breadcrumbs__list li::after {
    content: "";
    width: 20px;
    height: 100%;
    background: url(../icons/arrow.svg) center/ cover no-repeat;
    position: absolute;
    top: 0;
    right: -10px;
    pointer-events: none;
}
.breadcrumbs__list li:last-child:after {
    content: none;
}

@media screen  and (max-width: 991px) {
    .checkbox-wr_fire::before,
    .checkbox-wr_warning::before {
        left: -13px;
        z-index: 1;
    }
}